@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Quicksand:wght@400;700&display=swap");

body {
  margin: 0px;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

/* Global styles */
.loadingImg {
  height: 50px;
  width: 50px;
}

a:link {
  text-decoration: none !important;
}

.bgBluredCover {
  height: 100%;
  width: 100%;
  background-color: #000000a1;
  transition: 0.5s;
  position: fixed;
  top: 0px;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-weight: 700;
}

ul {
  list-style: none;
}

.scaled1p1 {
  scale: 1.1;
}

.textAndImagePartCon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  padding: max(4vw, 50px) 0px;
  justify-content: center;
  width: 100%;
}

.textCon {
  display: flex;
  flex-direction: column;
  width: min(600px, calc(98vw - 80px));
  gap: 30px;
  padding: 0px 40px;
}

.headerText {
  font-size: min(50px, 12vw);
  font-weight: 700;
  color: #0180d5;
  margin-bottom: -20px;
}

.text {
  font-size: min(20px, 6vw);
  font-weight: 400;
  color: #686868;
}

/* Creating header styles */
.headerOuterCon {
  display: flex;
  flex-direction: column;
}

.headerCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94vw;
  height: 70px;
  position: fixed;
  transition: 0.6s;
  padding: 0px 3vw;
  z-index: 13;
}

.headerScrolled {
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(82, 82, 82, 0.1);
}

.HeaderLogoCon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.headerLogo {
  margin-top: 40px;
  height: 80px;
  transition: 0.3s;
}

.headerLogoScrolled {
  height: 50px;
  margin-top: 0px;
}

.headerLogoScrolled:hover {
  scale: 1.2;
}

.HeaderLogoText {
  font-weight: 700;
  color: #0180d5;
  font-size: 35px;
  transition: 0.3s;
  margin-bottom: -11px;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: max(4vw, 20px);
  color: white;
}

.headerMenuScrolled {
  color: #0180d5;
}

.headerMenuBtn {
  font-size: 25px;
  font-weight: 700;
  transition: 0.3s;
  position: static;
  z-index: 3;
}

.headerMenuBtn:hover {
  color: rgb(198, 198, 198);
}

.headerMoreBtn {
  height: 35px;
  width: 35px;
  margin-right: 15px;
  z-index: 3;
  transition: 0.3s;
}
.headerMoreBtn:hover {
  scale: 1.1;
}

.headerSidebarCon {
  height: 100vh;
  width: 300px;
  position: fixed;
  display: flex;
  justify-content: center;
  right: -300px;
  top: 0px;
  background-color: #0180d5;
  color: white;
  z-index: 20;
  transition: 1s;
}

.headerSidebarBackArrow {
  font-size: 70px;
  position: absolute;
  left: 50px;
  top: 20px;
  transition: 0.3s;
  color: white;
}

.headerSidebarBackArrow:hover {
  scale: 1.1;
  color: rgb(191, 191, 191);
}

.headerSidebarBtnCon {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  top: 250px;
  color: white;
}

.moreConBestilBtn {
  color: #0180d5;
  background-color: white;
  border: #ffffff 3px solid;
  height: 50px;
  width: 200px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  transition: 0.3s;
  position: absolute;
  top: 160px;
}

.moreConBestilBtn:hover {
  color: white;
  background-color: #0180d5;
  scale: 1.05;
}

.headerUnderbar {
  height: 5px;
  background-color: #0180d5;
  position: fixed;
  top: 70px;
  z-index: 20;
  opacity: 0;
}

.headerUnderbarScrolled {
  opacity: 1;
}

/* Footer styles */
.footerPageCon {
  background-color: rgb(97, 97, 97);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerCon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 70px 0px;
  padding-bottom: 140px;
  flex-wrap: wrap;
  gap: 60px;
  width: min(1000px, 95vw);
}

.footerElCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footerElHeader {
  color: white;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

.footerElText {
  color: white;
  font-size: 18px;
}

.footerElTextLink {
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.footerElTextLink:hover {
  color: #0180d5;
}

.privPCon {
  width: min(400px, 90vw);
  padding: 50px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.privPText {
  font-size: 19px;
  color: #686868;
}

.privPBackBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 30px;
  rotate: 45deg;
  transition: 0.3s;
}

.privPBackBtn:hover {
  scale: 1.2;
}

.footerCopyrightsCon {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background-color: rgb(68, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerCopyrightsTextCon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footerCopyrightsText1 {
  color: white;
  font-size: min(18px, 4vw);
}

.footerCopyrightsText2 {
  color: white;
  font-size: min(18px, 4vw);
  font-weight: 700;
}

/* Creating bestil form styles */
.bestilFormCon {
  background-color: #0180d596;
  padding-top: 70px;
  position: relative;
  height: min(885px, 215vw);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 200px 0px;
  padding-bottom: 200px;
}

.bestilContentCon {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: min(40px, 7vw);
  height: min(850px, 215vw);
  width: min(500px, calc(95vw - 80px));
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 40px;
}

.bestilFormHeaderCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.bestilFormHeader {
  color: #0180d5;
  font-size: min(40px, 9vw);
  font-weight: 700;
  text-align: center;
}

.bestilGuideBoxesCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.bestilGuideBoxesElCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bestilGuideBox {
  height: min(35px, 9vw);
  width: min(35px, 9vw);
  background-color: white;
  color: #0180d5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border: 2px #0180d5 solid;
}

.bestilGuideBoxComplete {
  background-color: #0180d5;
  color: white;
}

.bestilLine {
  width: 70px;
  height: 2px;
  background-color: #8e8e8e;
  margin-top: 17px;
}

.guideBoxText {
  font-size: min(20px, 5vw);
  color: #0180d5;
  font-weight: 700;
}

.bestilFormInputCon {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bestilFormCheckboxCon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bestilFormInputsCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bestilInputsConChild {
  width: 45%;
}

.bestilFormTextInput {
  height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #686868;
  border-radius: 4px;
  padding-left: 8px;
  border: none;
  background-color: #efefef;
}

.bestilFormInputHeader {
  color: #686868;
  font-size: min(20px, 5vw);
  font-weight: 400;
}

.bestilFormInputText {
  font-size: min(16px, 3.5vw);
  font-weight: 400;
  color: #686868;
}

.bestilFormTextarea {
  padding: 4px;
  height: 100px;
  resize: none;
}

.bestilFormTextInput::placeholder {
  font-size: 18px;
  color: #8e8e8e;
  font-weight: 400;
}

.bestilGodkendelseCon {
  background-color: #efefef;
  width: min(450px, calc(95vw - 95px));
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 5px;
  padding-left: 10px;
}

.bestilGodkendelseInputTextCon {
  display: inline;
}

.bestilFormGodkendelseHeader {
  font-size: 20px;
  font-weight: 400;
  color: #686868;
}

.bestilGodkendelseInputText {
  font-weight: 400;
  color: rgb(91, 91, 91);
}

.bestilFormInputTextLink {
  text-decoration: none;
  color: #0180d5;
  font-weight: 700;
}

.bestilFormInputTextLink:hover {
  text-decoration: underline;
  color: #4e99cb;
}

.bestilFormSelect {
  color: #0180d5;
  border: none;
  height: 30px;
  font-size: 15px;
  font-weight: 700;
  padding: 0px 10px;
  border-radius: 10px;
  background-color: #efefef;
}

.bestilIAltPriceCon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: min(25px, 8vw);
  width: 90%;
}

.bestilIAltPriceText {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.bestilIAltPrice {
  color: white;
  border-radius: 25px;
  font-size: clamp(17px, 3vw, 25px);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bestilFormNextBtnCon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: calc(100vh - 70px);
  width: min(500px, 90vw);
  height: min(85px, 25vw);
  margin-top: 20px;
}

.bestilFormNextBtn {
  color: #0180d5;
  background-color: white;
  width: clamp(110px, 30vw, 180px);
  height: clamp(40px, 12vw, 50px);
  border-radius: 40px;
  font-size: clamp(20px, 6vw, 25px);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.bestilFormNextBtn:hover {
  scale: 1.1;
}

.bestilForigeBtn {
  color: #ffffff;
  border: #ffffff 2px solid;
  background-color: #0180d5;
}

.bestilFakeSendBtn {
  border: none;
}

.bestilSendBtn {
  border: none;
  font-weight: 700;
  color: white;
  background-color: #0180d5;
}

.bestilSendText {
  color: #0180d5;
  font-weight: 700;
  font-size: 25px;
}

.bestilFormFixed {
  position: absolute;
  top: calc(-80vh - 100px);
  transition: 1s;
  overflow: hidden;
}

.bestilFormBg {
  height: 100%;
  width: 100%;
  background-color: #000000a1;
  transition: 0.5s;
  position: fixed;
  top: 0px;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestilSendMessageCon {
  width: min(500px, calc(90vw - min(100px, 14vw)));
  padding: min(50px, 7vw) min(50px, 7vw);
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: min(40px, 7vw);
}

.bestilSendMessageText {
  color: #686868;
  font-size: min(20px, 5vw);
}

.bestilSendMessageBtnCon {
  margin-top: min(70px, 4vw);
  display: flex;
  justify-content: center;
  gap: min(30px, 3vw);
}

.bestilSendMessageAnullerBtn {
  border: 2px solid #0180d5;
  background-color: #fff;
  color: #0180d5;
}

.bestilVilkaarCon {
  background-color: #fff;
  width: min(400px, calc(100vw - min(100px, 20vw)));
  padding: 30px min(50px, 10vw);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vilkaarHeader {
  font-weight: 700;
  font-size: 40px;
  color: #0180d5;
}

.bestilVilkaarText {
  font-size: min(18px, 3.5vw);
  color: #686868;
}

.vilkaarList {
  list-style-type: square;
  overflow: scroll;
  height: 30vh;
  background-color: #f6f6f6;
}

.vilkaarListItem {
  margin-top: 5px;
}

.vilkaarLink {
  text-decoration: underline;
  color: #0180d5;
  font-weight: 700;
}

.vilkaarLink:hover {
  color: #686868;
}

.bestilVilkaarBtn {
  height: 40px;
  width: min(300px, 70vw);
  background-color: #0180d5;
  border: 2px #0180d5 solid;
  border-radius: 50px;
  color: white;
  font-size: min(20px, 5vw);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-top: 40px;
}

.bestilVilkaarBtn:hover {
  color: #0180d5;
  background-color: white;
}

.bestilBottomBarCon {
  display: flex;
  position: absolute;
  top: 0px;
  margin-top: 70px;
  height: calc(min(850px, 215vw) + 180px);
}

.bestilBottomBar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: calc(100vh - 90px);
  background-color: #0180d5;
  height: min(115px, 25vw);
  width: min(500px, 85vw);
  border-radius: 20px;
  z-index: 12;
  margin-top: 250px;
  margin-bottom: 30px;
}

/* Pop ups styles */
.SFCon {
  background-color: #fff;
  padding: min(5vw, 40px);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  width: min(400px, calc(95vw - min(10vw, 80px)));
  position: absolute;
  gap: 20px;
}

.SFText {
  color: #686868;
  font-size: min(18px, 4vw);
}

.SFBackBtn {
  position: absolute;
  top: 18px;
  left: 18px;
  height: 25px;
  rotate: 45deg;
  transition: 0.3s;
}

.SFBackBtn:hover {
  scale: 1.2;
}

/* Creating homepage styles */
.hompageCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepageStartVideo {
  height: max(100vh, calc(100vw / 1280 * 720));
  position: absolute;
  background-color: #83a0b3;
}

.homepageStartvideoCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}

.homepageStartVideoCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.homepageStartVideoTextHeader {
  color: white;
  font-size: min(70px, 9vw);
  font-weight: 700;
  text-align: center;
  width: 95vw;
}

.homepageStartVideoText {
  color: white;
  font-size: min(30px, 4vw);
  font-weight: 400;
  text-align: center;
  width: min(1000px, 90vw);
}

.homepageStartVideoBtnCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10vh;
}

.homePageBtn {
  background-color: #0180d5;
  color: white;
  height: min(70px, 16vw);
  width: min(300px, 60vw);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(35px, 9vw);
  font-weight: 700;
  transition: 0.3s;
}

.bestilBtn {
  height: 45px;
  width: 160px;
  font-size: 25px;
}

.homePageBtn:hover {
  scale: 1.1;
}

.hompageImg1Con {
  width: min(480px, 90vw);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hompageImg {
  width: 100%;
}

/* Create styles for Price page */

.pricePageWaveCon {
  position: relative;
  overflow: hidden;
  height: min(200px, 20vw);
}

.pricePageWave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: move-forever 2s linear infinite;
}

.pricePageBlueCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./Img/bestilFormBgImg.jpg);
  background-position: center;
  background-size: cover;
}

.pricePageCon {
  width: 500px;
}

.priceHeader {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

/* creating styles for FAQ */
.FAQPageCon {
  padding: 5vh 4vw;
  padding-top: min(15vh, 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0180d5;
}

.FAQheader {
  font-size: min(40px, 6vw);
  font-weight: 700;
  margin-bottom: 15px;
}

.FAQCon {
  display: flex;
  flex-direction: column;
  width: min(900px, 90vw);
}

.FAQQuestionElCon {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.FAQQuestionEl {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 64px;
  border-bottom: solid 3px #0180d5;
  background-color: #f2f2f2;
  transition: 1s ease-in-out;
}

.FAQQuestionElHeaderCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  height: 32px;
}

.FAQQuestionElHeader {
  font-size: min(22px, 5vw);
  font-weight: 400;
  color: #0180d5;
}

.FAQQuestionElAddBtn {
  height: 20px;
}

.FAQQuestionElAnswerCon {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.FAQQuestionElAnswerTextHeader {
  font-size: 18px;
  font-weight: 700;
  color: #0180d5;
}

.FAQQuestionElAnswerText {
  font-size: 16px;
  font-weight: 400;
}

.FAQQuestionElAnswerLink {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: #0180d5;
  font-weight: 700;
}

.FAQQuestionElAnswerLink:hover {
  color: #686868;
}

.FAQQuestionElAnswerList {
  font-size: 18px;
  margin-bottom: 40px;
}

.FAQQuestionElAnswerListItem {
  font-size: 16px;
  font-weight: 400;
}

/* About us */
.AboutUsPageCon {
  padding: 10vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUsPageMainImgCon {
  width: 100%;
  height: min(500px, 60vw);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.aboutUsPageMainImg {
  width: min(900px, 120vw);
}

.aboutUsAppLinkCon {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: min(900px, 90vw);
  border-bottom: #0180d5 solid 5px;
  padding-bottom: 15px;
}

.aboutUsAppLink {
  transition: 0.3s;
}

.aboutUsAppLink:hover {
  scale: 1.1;
}

.aboutUsAppLinkFacebook {
  padding: 2px;
  height: 46px;
}

.aboutUsTelefoneLinkCon {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.aboutUsTelefoneLinkIcon {
  height: 40px;
}

.aboutUsTelefoneNumCon {
  width: 0px;
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  transition: 1.5s;
  margin-left: -30px;
}

.aboutUsTelefoneNum {
  transition: 1.5s;
  position: absolute;
  left: -215px;
  color: #0180d5;
  font-size: min(20px, 3.5vw);
  padding-left: 35px;
  font-weight: 700;
}

.aboutUsMailLinkIcon {
  height: 40px;
  transition: 0.3s;
}

.aboutUsMailLinkIcon:hover {
  scale: 1.1;
}

.aboutUsHeaderCon {
  width: min(900px, 90vw);
  margin-bottom: 20px;
}

.aboutUsHeader {
  color: #0180d5;
  font-size: min(50px, 10vw);
  font-weight: 700;
}

.aboutUsProfilesCon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 33px;
  width: min(900px, 90vw);
}

.aboutUsTextBg {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2vh;
  padding-top: 2vh;
}

.aboutUsTextCon {
  width: min(1200px, 90vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.aboutUsTextPart {
  width: min(90vw, 600px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.aboutUsTextHeader1 {
  font-size: min(30px, 6vw);
  font-weight: 700;
  color: #232323;
}

.aboutUsTextHeader2 {
  font-size: min(30px, 6vw);
  font-weight: 700;
  color: #0180d5;
}

.aboutUsTextText {
  font-size: min(20px, 5vw);
  font-weight: 400;
  color: #686868;
}

.aboutUsTextTextHighlighted {
  color: #0180d5;
  font-weight: 700;
}

.aboutUsExtraImg {
  width: min(440px, 95vw);
}

.aboutUsProfileCon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.aboutUsProfileImgCon {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.aboutUsProfileTextCon {
  margin-top: 30px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 200px;
  text-align: center;
}

.aboutUsProfileHeader {
  font-size: 40px;
  color: #0180d5;
  font-weight: 700;
}

.aboutUsProfileText {
  font-size: 15px;
  color: rgb(136, 136, 136);
  font-weight: 700;
}

@media only screen and (max-width: 1200px) {
  .aboutUsTextCon {
    justify-content: center;
  }
}

/* Contact us page */
.contactUsPageCon {
  padding: 10vh 0px;
  display: flex;
  justify-content: center;
}

.contactUsCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: min(1200px, 95vw);
  padding: 0px calc(10vw - 80px);
}

.contactUsInfoCon {
  display: flex;
  flex-direction: column;
  width: min(400, 90vw);
  height: 650px;
  align-items: center;
}

.contactUsInfoInnerCon {
  display: flex;
  flex-direction: column;
  width: min(400px, 90vw);
  gap: 50px;
}

.contactUsHeader {
  font-size: 40px;
  color: #0180d5;
  font-weight: 700;
}

.contactUsInfoBoxCon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.contactUsTextCon {
  display: flex;
  flex-direction: column;
}

.contactUsText {
  font-size: min(20px, 4.5vw);
  font-weight: 700;
  color: #0180d5;
  user-select: text;
}

.contactUsTextComment {
  color: rgb(97, 97, 97);
  font-size: 14px;
}

.contactUsTelImg {
  height: 40px;
  margin-left: 8px;
  transition: 0.3s;
}

.contactUsTelImg:hover {
  scale: 1.1;
}

.contactUsTelText {
  font-size: min(20px, 4.5vw);
  font-weight: 700;
  color: #0180d5;
  user-select: text;
  transition: 0.3s;
}

.contactUsTelText:hover {
  scale: 1.05;
}

.contactUsMailImg {
  height: 40px;
  transition: 0.3s;
}
.contactUsMailImg:hover {
  scale: 1.1;
}

.contactUsMailText {
  color: #0180d5;
  font-size: min(20px, 3.5vw);
  font-weight: 700;
  user-select: text;
  transition: 0.3s;
}

.contactUsMailText:hover {
  scale: 1.05;
}

.contactUsLocationImg {
  height: 70px;
  margin-left: 5px;
  align-self: flex-start;
}

.contactUsAabningstiderImg {
  height: 50px;
  align-self: flex-start;
}

.contactUsEmbededMap {
  width: min(600px, 90vw);
  height: min(650px, 100vw);
  border: none;
}

@media only screen and (max-width: 1200px) {
  .contactUsCon {
    justify-content: center;
  }
}
